table{
    text-align: left;
}
.modal{
    color: black;
    text-shadow: none;
}
.site-wrapper{
  background-image: url('../images/home.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.masthead{
    z-index: 2;
    margin: 0 auto;
    background-color: rgba(0,0,0, .3);
}