table{
    text-align: left;
}
.modal{
    color: black;
    text-shadow: none;
}
.site-wrapper{
  background-image: url('../images/home.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
}
.inner{
    padding: 10px;
}
.cover{
    padding:10px; 
}
.navbar-inverse{
    background-color: transparent;
    border: none;
    margin-top: -60px;
}
.cover{
    display:none;
}
.masthead{
    z-index: 2;
    margin: 0 auto;
    background-color: rgba(0,0,0, .3);
    height: 75px;
    min-width: 100%;
    left:0;
}
.mastfoot{
    background-color: rgba(0,0,0, .5);
    position: relative;
    margin-bottom: 0;
    width: 100%;
}

.inner a{
    color: #fff;
}
.mastfoot a{
    color: #999;
}

.text-center{
    text-align: center;
}
.row h1{
    margin-top: 75px;
}

.btn-success{
    color: #fff;
    margin: auto 3px;
}

.main-logo{
    width: 220px;
}
.space-below-content{
    height: 100px;
    width:100%;
}
.contact-info a{
    color:#fff;
    text-decoration: underline;
}
#theCourse{
    background-image: url('../images/the-course.jpg');
}
#events{
    background-image: url('../images/events.jpg');
}
#foodAndBev{
    background-image: url('../images/food-and-bev.jpg');
}
#homeFoot{
    position: fixed;
}
.up-arrow{
    color: #fff;
    font-size:32px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 12px;
    margin-right: 20px;
}
@media screen and (max-width: 770px) {
    .cover{
        width: 100%;
        min-height: 100%;
    }
    .masthead-nav {
        margin-top: 0;
        background-color: rgba(0,0,0, .3);
    }
    h1{
        margin-top: 75px;
    }
    .mastfoot{
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
    .main-logo{
        display: none;
    }
    .space-below-content{
        height:10px;
    }
    #homeFoot{
        display: inline;
        height: auto;
        margin-top: -115px;
        position: fixed;
        width: 100%;
        left: 0;
    }
}

.align-left{
    float: left;
    position: relative;
    z-index: 1;
}

.fb-like{
    margin-bottom: 5px;
}